body {
    font-family: Arial, Helvetica, sans-serif;
    width: 1100px;
    margin: 0 auto;

}

.menu {
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center;
}

.menu a:hover {
    color: #C364C6;
    border-bottom: 2px solid #C364C6;
}
.find-box {
    border: 0.5px solid #BCC6C1;
    font-size: 16px;
    height: 24px;
    margin: -12px 10px 0px;
}
.has-submenu {
    position: relative;;
}
.submenu {
    display: none;
    padding: 0;
    font-size: 14px;
    position: absolute;
    list-style: none;
    left: 0;
    top: 100%;

}
.has-submenu:hover .submenu {
    display: block;
}
a {
    text-decoration: none;
    color: #504E50;
    padding: 12px 16px;
}
.submenu li {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 150px;
}
.submenu a:hover {
    border: none;
    background-color: #DBE4DF;
}
