.box-components-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-components-content .fa-box-play {
    margin-right: 54px;
}
.box-content h2 {
    padding-left: 140px;
}
